
#headerText {
    background-image: url(image/images.jpg);
                
}
 h1 {
    font-family: "Georgia", Serif;
    color: #311B92;
    text-align: center;
    }
 h2 {
    font-family: "Monaco", Monospace;
    color: #0288D1;
    text-align: center;
    }
    #ITMS {
      text-align:center;
      font-size: large;
      border-style: double;
      border-color:#FFAB91;
      background-color: #FFFDE7;
      font-family: "Helvetica", Sans-serif;
    }
     #videoITMS {
       text-align:center;
       font-size:xx-large;
       font-family: "Lucida Console", Monospace;
       color: #6A518A;
       text-shadow: 2px 2px 5px #FF80AB;
       background-image: url(image/images.jpg);
     }